/* img{
  width: 600px;
  height: auto;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p {
  font-size: 18px;
  margin: 10px 0;
}
a:hover {
  text-decoration: underline;
} */